.content {
	max-width: 1200px;
	margin: 0 auto;
}
#intro {
	padding-top: 3em;
}
#title {
	margin-bottom: 2em;
	text-align: left;
	border-radius: 0.3em;
	justify-content: left;
  align-items: center;
}
.cal-sliders {
	padding-bottom: 2em;
}
.pad-2 {
	padding-right: 1.2em;
	font-size: 1.1em;
}
#target-aqi-container {
	position: absolute;
	margin-left: -9px;
	margin-top: -25px;
	padding: 0.4em;
	padding-bottom: 0;
	/*border: 1px solid black;*/
	font-size: 0.8em;
}
.calendar-sliders-label {
	padding-top: 1em;
	font-size: 0.8em;
}
.righty {

}
.top-marge {
	margin-top: 2em;
}
.pm-slider {
	padding: 1em 0 1em 2em;
	width: 310px;
	border-radius: 0.6em;
	margin: 1em 0;
}
#pm-scale {
	height: 8px;
	width: 250px;
	position: absolute;
  margin-top: 8px;
	border-radius: 2px;
}
.good {
	background: #BFF5DB;
	width: 2%;
	height: 100%;
}
.moderate {
	background: #F7DB76;
	width: 3.83%;
	height: 100%;
}
.unhealthy-sensitive {
	background: #E8A945;
	width: 3.33%;
	height: 100%;
}
.unhealthy {
	background: #D1324C;
	width: 15.83%;
	height: 100%;
}
.very-unhealthy {
	background: #880D1E;
	width: 16.67%;
	height: 100%;
}
.hazardous {
	background: #242038;
	width: 41.67%;
	height: 100%;
}
.extreme {
	background: black;
	width: 16.67%;
	height: 100%;
}
#pm-labels {
	width: 250px;
	position: absolute;
  margin-top: 18px;
}
.pm-label {
	font-size: 0.7em;
	color: #aaa;
	background: none;
}
.pm-label.good {
	margin-left: -15px;	
}
.pm-label.unhealthy {
	margin-left: 36px;
}
.pm-label.hazardous {
	margin-left: 60px;
}
.blue-link {
	text-align: right;
}
h3.for {
	text-align: center;
	padding: 1.8em 0;
	font-size: 1.2em;
	font-family: "Tiempos";
}
.slider-cont {
	background: #fff;
	border-radius: 0.3em;
	overflow: auto;
	max-width: 660px;
	margin-top: 1em;
}
.hours-slider {
	padding: 0 1.25em;
	border-radius: 0.6em;
	margin: 2em 0;
}
#calendar-container {
	height: auto;
}
#bad-days-container {
	margin-top: 1em;
  margin-left: 60px;
  width: 76.5%;
	max-width: 1100px;
  position: absolute;	
}
.month {
	height: 30px;
	padding-top: 0.5em;
	font-size: 1.2em;
	font-weight: 500;
	text-align: center;
	width: 100%;
}
#best-month {
	line-height: 1.3em;
}
.best-month-sentence {
	padding-top: 12em;
	overflow: auto;
	/*margin-left: 5em;*/
}
.bad-year-container {
	position: absolute;
	margin-top: -2.3em;
	margin-left: -2em; 
	width: 100px;
	background: #f5f5f5;
	height: 100px;
	border-radius: 50px;
	border: 1px solid #bbb;
}
#year-label {
	text-align: center;
	margin-top: 1em;
	font-size: 0.8em;
}
#yearly-bad-days {
	/*font-size: 1.4em;*/
	text-align: center;
	margin-top: 1.5em;
}
.bad-month-container {
	float: left;
	width: calc(100%/12);
}
.month-label {
	font-size: 0.7em;
	text-align: center;
	margin-top: -0.4em;
}
g#calendar-legend {
	position: absolute !important;
	margin-right: 0;
}
#weeks-container {
	margin-top: -0.85em;
  margin-left: 30.5px;	
	height: 50px;
	clear: both;
}
.week-rect {
	float: left;
	/*height: 21.5px;*/
	width: 21.29px;
	background: #084081;
	border-top: 3px solid #022957;
	/*border: 5px solid white;*/
}
.bad-number {
	/*font-size: 1.2em;*/
	/*text-align: center;*/
	/*width: 97px;*/
	/*float: left;*/
}
.best-time-slider-container, .best-time-hours-slider-container {
	margin-left: 100px;
	margin-top: 50px;
	width: 300px;
}
#slider-aqi-best-time, #slider-hours-best-time {
	/*width: 100%;*/
}
#slider-hours-best-time {
	width: 100px;
}
#slider-aqi-best-time {
	width: 250px;
}
#weather {
	margin-top: 6em;
}
.tick {
	font-size: 0.8em;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
.month {
		fill: none;
		stroke: #000;
		stroke-width: 2px;
}
.day {
		fill: #fff;
		stroke: #BFF5DB;
		stroke-width: 0;
}
text    {
		/*font-family:"Avenir Next";*/
		font-size:1.2em;
}
.dayLabel   {
		fill:#000;
		font-size:0.6em;
}
.monthLabel {
		text-anchor:middle;
		font-size:0.6em;
		fill:#000;
		display: none;
}
.yearLabel  {
		fill:#000;
		font-size:1em;
}

.key {font-size:0.5em;}
/* Custom select
 *
*/
.custom-select {
	margin-top: -2em;
}
.select-css {
    display: inline;
    font-size: 1em;
    font-family: "Tiempos";
    /*font-weight: 700;*/
    /*color: #444;*/
    line-height: 1;
    /*padding: .6em 1.4em .5em .8em;*/
    /*width: 100%;*/
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    /*border: 1px solid #aaa;*/
    /*box-shadow: 0 1px 0 1px rgba(0,0,0,.04);*/
    border-radius: 0.05em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
		border-width: 0;
		border-color: #ddd;
		/*text-decoration: underline;*/
		cursor: pointer;
		padding: 0.2em 0.9em 0em 0.3em	;
    background-image: url("../img/triangle.svg");
    background-repeat: no-repeat, repeat;
    background-position: right .3em top 50%, 0 0;
    background-size: .45em auto, 50%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}
.calendar-caption {
    font-size: 0.7em;
    /* text-align: center; */
    margin-top: 3em;
    position: absolute;
    right: 2em;
    width: 120px;
    line-height: 120%;
    margin-top: -18.8em;
}