.content {
	max-width: 1200px;
	margin: 0 auto;
}
#intro {
	padding-top: 3em;
}
#title {
	padding-top: 10em;
	padding-bottom: 4em;
	text-align: left;
}
.cal-sliders {
	padding-bottom: 4em;
}
#calendar-container {
	height: auto;
}
#bad-days-container {
	margin-top: 1em;
  margin-left: 60px;
  width: 76.5%;
  position: absolute;	
}
.month {
	height: 30px;
	padding-top: 0.5em;
	font-size: 1.2em;
	font-weight: 500;
	text-align: center;
	width: 100%;
}
.bad-year-container {
	position: absolute;
	margin-top: 1.8em;
	/*margin-left: 10px;*/
	width: 50px;
}
#yearly-bad-days {
	/*font-size: 1.4em;*/
	/*text-align: center;*/
}
.bad-month-container {
	float: left;
	width: calc(100%/12);
}
.month-label {
	font-size: 0.7em;
	text-align: center;
	margin-top: -0.4em;
}
g#calendar-legend {
	position: absolute !important;
	margin-right: 0;
}
#weeks-container {
	margin-top: -0.85em;
  margin-left: 30.5px;	
	height: 50px;
	clear: both;
}
.week-rect {
	float: left;
	/*height: 21.5px;*/
	width: 21.29px;
	background: #084081;
	border-top: 3px solid #022957;
	/*border: 5px solid white;*/
}
.bad-number {
	/*font-size: 1.2em;*/
	/*text-align: center;*/
	/*width: 97px;*/
	/*float: left;*/
}
.best-time-slider-container, .best-time-hours-slider-container {
	margin-left: 100px;
	margin-top: 50px;
	width: 300px;
}
#slider-aqi-best-time, #slider-hours-best-time {
	/*width: 100%;*/
}
#weather {
	margin-top: 6em;
}
.tick {
	font-size: 0.8em;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
.month {
		fill: none;
		stroke: #000;
		stroke-width: 2px;
}
.day {
		fill: #fff;
		stroke: #BFF5DB;
		stroke-width: 0;
}
text    {
		/*font-family:"Avenir Next";*/
		font-size:1.2em;
}
.dayLabel   {
		fill:#000;
		font-size:0.6em;
}
.monthLabel {
		text-anchor:middle;
		font-size:0.6em;
		fill:#000;
		display: none;
}
.yearLabel  {
		fill:#000;
		font-size:1em;
}

.key {font-size:0.5em;}
/* Custom select
 *
*/
.custom-select {
	margin-top: -2em;
}
.select-css {
    display: inline;
    font-size: 1em;
    font-family: "Clarendon Bold";
    /*font-weight: 700;*/
    /*color: #444;*/
    line-height: 1;
    /*padding: .6em 1.4em .5em .8em;*/
    /*width: 100%;*/
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    /*border: 1px solid #aaa;*/
    /*box-shadow: 0 1px 0 1px rgba(0,0,0,.04);*/
    border-radius: .1em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
		border-width: 0;
		border-color: black;
		/*text-decoration: underline;*/
		cursor: pointer;
		padding: 0 0.9em 0 0	;
    background-image: url("../img/triangle.svg");
    background-repeat: no-repeat, repeat;
    background-position: right .3em top 38%, 0 0;
    background-size: .45em auto, 50%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}