@font-face {
	font-family: 'Sparks Bar Medium';
	src: url('../fonts/ClarendonURW-Bol.eot');
	src: url('../fonts/ClarendonURW-Bol.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ClarendonURW-Bol.woff') format('woff'),
	     url('../fonts/ClarendonURW-Bol.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Clarendon Bold';
	src: url('../fonts/ClarendonURW-Bol.eot');
	src: url('../fonts/ClarendonURW-Bol.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ClarendonURW-Bol.woff') format('woff'),
	     url('../fonts/ClarendonURW-Bol.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Bodoni Bold';
	src: url('../fonts/BodoniURW-Bol.eot');
	src: url('../fonts/BodoniURW-Bol.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/BodoniURW-Bol.woff') format('woff'),
	     url('../fonts/BodoniURW-Bol.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Cera Basic Regular';
	src: url('../fonts/cerabasic-regular-webfont.eot');
	src: url('../fonts/cerabasic-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/cerabasic-regular-webfont.woff') format('woff'),
	     url('../fonts/cerabasic-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Franklin Gothic Light';
	src: url('../fonts/FranklinGothicURW-Lig.eot');
	src: url('../fonts/FranklinGothicURW-Lig.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FranklinGothicURW-Lig.woff') format('woff'),
	     url('../fonts/FranklinGothicURW-Lig.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Franklin Gothic Book';
	src: url('../fonts/FranklinGothicURW-Boo.eot');
	src: url('../fonts/FranklinGothicURW-Boo.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FranklinGothicURW-Boo.woff') format('woff'),
	     url('../fonts/FranklinGothicURW-Boo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Franklin Gothic Medium';
	src: url('../fonts/FranklinGothicURW-Med.eot');
	src: url('../fonts/FranklinGothicURW-Med.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FranklinGothicURW-Med.woff') format('woff'),
	     url('../fonts/FranklinGothicURW-Med.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt Air';
	src: url('../fonts/FaktPro-Air.eot');
	src: url('../fonts/FaktPro-Air.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Air.woff') format('woff'),
	     url('../fonts/FaktPro-Air.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt Hair';
	src: url('../fonts/FaktPro-Hair.eot');
	src: url('../fonts/FaktPro-Hair.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Hair.woff') format('woff'),
	     url('../fonts/FaktPro-Hair.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-Thin.eot');
	src: url('../fonts/FaktPro-Thin.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Thin.woff') format('woff'),
	     url('../fonts/FaktPro-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-ThinItalic.eot');
	src: url('../fonts/FaktPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-ThinItalic.woff') format('woff'),
	     url('../fonts/FaktPro-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-Light.eot');
	src: url('../fonts/FaktPro-Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Light.woff') format('woff'),
	     url('../fonts/FaktPro-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}


@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-Blond.eot');
	src: url('../fonts/FaktPro-Blond.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Blond.woff') format('woff'),
	     url('../fonts/FaktPro-Blond.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-Normal.eot');
	src: url('../fonts/FaktPro-Normal.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Normal.woff') format('woff'),
	     url('../fonts/FaktPro-Normal.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-Medium.eot');
	src: url('../fonts/FaktPro-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Medium.woff') format('woff'),
	     url('../fonts/FaktPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-SemiBold.eot');
	src: url('../fonts/FaktPro-SemiBold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-SemiBold.woff') format('woff'),
	     url('../fonts/FaktPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos';
	src: url('../fonts/Tiempos-Headline-Black.eot'); 
	src: url('../fonts/Tiempos-Headline-Black.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Tiempos-Headline-Black.woff') format('woff'),
	     url('../fonts/Tiempos-Headline-Black.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
